@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}